body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(-45deg,#ff9a9e,#fad0c4,#ffd1dc,#ffc3a0);
    background-size:400% 400%;
    animation:bgMove 10s ease infinite;
    overflow:hidden;
}

/* Container */
.container{
    position:relative;
    z-index:2;
    text-align:center;
    background:rgba(255,255,255,0.95);
    padding:35px;
    border-radius:20px;
    width:80%;
    max-width:650px;
    margin:80px auto;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    animation:fadeInUp 1.5s ease, floatCard 4s ease-in-out infinite;
}

/* Judul */
h1{
    color:#ff4d6d;
    animation:bounce 2s infinite;
    font-size:2.3rem;
}

h2{
    color:#ff6f91;
    animation:fadeIn 2s;
}

p{
    color:#444;
    line-height:1.7;
    animation:fadeIn 3s;
}

/* Tombol */
button{
    background:#ff4d6d;
    color:white;
    border:none;
    padding:14px 24px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
    background:#ff2d55;
    box-shadow:0 0 20px rgba(255,77,109,.6);
}

/* Balon */
.balloon{
    position:absolute;
    bottom:-120px;
    width:60px;
    height:80px;
    border-radius:50%;
    animation:float 12s linear infinite,
              sway 3s ease-in-out infinite;
}

.balloon::after{
    content:"";
    position:absolute;
    width:2px;
    height:60px;
    background:#666;
    left:50%;
    top:80px;
}

.red{
    background:#ff4d4d;
    left:10%;
}

.blue{
    background:#4d79ff;
    left:50%;
}

.yellow{
    background:#ffd700;
    left:80%;
}

/* Animasi Background */
@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

/* Card Melayang */
@keyframes floatCard{
    0%,100%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-10px);
    }
}

/* Fade + Slide */
@keyframes fadeInUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Fade */
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* Judul Memantul */
@keyframes bounce{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}

/* Balon Naik */
@keyframes float{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-130vh);
    }
}

/* Balon Bergoyang */
@keyframes sway{
    0%,100%{
        margin-left:0;
    }
    50%{
        margin-left:20px;
    }
}
